* {
  margin: 0;
  font-family: Lato;
}

body {
  min-width: 950px;
  max-width: 1600px;
  margin: 0px auto;
  padding: 0px 100px;
}

.text {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.title {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
  text-align: center;
}

.sub-title-1 {
  color: #272727;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
  text-decoration-line: underline;
}

.sub-title-2 {
  color: rgba(39, 39, 39, 0.8);
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  line-height: 35px;
}

.button {
  padding: 20px 43px;
  border: none;
  border-radius: 8px;
  background: #e55473;
  font-size: 20px;
  color: white;
  font-weight: 700;
}

/* ---------------HERO SECTION-------------- */

section#hero {
  display: flex;
  justify-content: space-between;
  background: rgba(229, 84, 115, 0.1);
  margin-left: -100px;
  margin-right: -100px;
  padding-left: 100px;
  padding-right: 100px;
}

h1.heading {
  color: #272727;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-size: 65px;
  font-weight: 800;
  width: 550px;
  margin-top: 120px;
}

#hero p.text {
  margin-top: 30px;
  width: 570px;
}

#hero div.banner-img img {
  height: 600px;
  margin-top: 50px;
}

#hero .button {
  margin-top: 50px;
}

/* -------------FEATURE SECTION---------------- */

section#feature {
  margin-top: 170px;
}

#feature div.description {
  text-align: center;
}

#feature div.description .text {
  margin-top: 20px;
}

#feature div.flower-tree-container {
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
}

#feature div.flower-tree-container > div {
  width: 32%;
}

#feature div.flower-tree-container div.flower-wrapper {
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  display: flex;
  justify-content: center;
  height: 70%;
  margin-bottom: 30px;
}

#feature div.flower-tree-container img {
  max-width: 75%;
  margin-top: 100px;
}

#feature div.benifits {
  display: flex;
  justify-content: center;
  gap: 4%;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  padding: 86px 0px;
}

#feature div.benifits > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 23px;
}

/* ------------------------SALES SECTION------------------------- */

section#sales {
  margin: 128px -100px;
  background: rgba(229, 84, 115, 0.05);
  padding: 100px 70px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#sales div.banner-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#sales div.banner-text p.text {
  margin-top: 24px;
  margin-bottom: 32px;
  text-align: center;
}

#sales div.banner-text h2.title span {
  color: #e55473;
}

/* --------------------INSTAGRAM SECTION------------------- */

section#instagram {
  margin-bottom: 128px;
}

#instagram p.text {
  text-align: center;
  margin-top: 24px;
}

#instagram div.container {
  display: flex;
  margin-top: 48px;
  gap: 24px;
}

#instagram div.container div {
  width: 100%;
}

#instagram div.container img {
  width: 100%;
}

/* -----------------------DEAL SECTION------------------------- */

section#deal {
  position: relative;
}

#deal img {
  width: 100%;
}

#deal div.container {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#deal div.container p.text {
  margin-top: 16px;
  margin-bottom: 50px;
}

#deal div.container form {
  display: flex;
  gap: 27px;
}

#deal div.container form input {
  width: 550px;
  height: 64px;
  border: none;
  border-radius: 8px;
}

input[type=email] {
  padding: 0px 22px;
  font-size: 18px;
}

footer {
  margin: 128px -100px 0px -100px;
  text-align: center;
  background-color: #111010;
  padding: 128px 0px;
}

footer h2 span.pink{
  color: rgba(229, 84, 115, 1);
}

footer h2 span.white{
  color: white;
}

footer p.text{
  color: rgba(255, 255, 255, 0.9);
  margin-top: 24px;
}

footer p.copyright{
  margin-top: 32px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.4);
}
